DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=maintenance_db
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=passwordhere
POSTGRES_HOST_AUTH_METHOD=md5

DB_ENGINE=django.db.backends.postgresql
DB_NAME=maintenance_db
DB_USER=yourusernname
DB_PASSWORD=vereysecurepassword
DB_HOST=db
DB_PORT=5432



